.darkmodeLogo{
    width: 79px;
    height: 79px;

    display: block;

    background-image : url(../public/darkmodeButton.png);
    background-size: contain;
    background-color : #000;
}

.lightmodeLogo{
    width: 79px;
    height: 79px;

    display: block;
    
    background-image : url(../public/lightmodeButton.png);
    background-size: contain;
    background-color : #FFF;
}

.darkmodePageLogo{
    width : 50px;
    height : 50px;

    background-image: url("../public/002.png");
    background-size : contain;
}

.daymodePageLogo{
    width : 50px;
    height : 50px;

    background-image: url("../public/001.png");
    background-size : contain;
}